* {
  padding: 0%;
  margin: 0%;
}

.background_img {
  background-image: url(0af6ce3e-b27a-4722-a5f0-e32af4df3045_what_is_netflix_5_en.png);
padding-top:2rem;
padding-left: 2rem;
}

.netflix_login-page {
  height: 32rem;
  width: 28rem;
  background-color:rgba(18, 14, 14, 0.459);
  margin-left: 20rem;
}
/* .netflix_login-page:hover{
  color: ;
} */

h1 {
  text-align: 200px;
  color: rgb(250, 241, 241);
  padding-left: 5rem;
  padding-top: 4rem;
}

.form-control {
  background-color: transparent;
  border: 1px solid rgb(225, 216, 216);
  border-radius: 5px;
  height: 60px;
  width: 330px;
  margin-left: 60px;
  padding-left: 1rem;
  margin-top: 2rem;
}

.sign-in-btn {
  border-radius: 5px;
  color: aliceblue;
  width: 330px;
  height: 40px;
  margin-left: 60px;
  background-color: rgb(216, 15, 15);
  margin-top: 20px;


}

.nextstep {
  color: rgb(105, 102, 102);
  flex-wrap: wrap;
  width: 10px;
  height: 50px;
  margin-left: 200px;
  margin-top: 30px;
  margin-bottom: 20px;
}

.otpbutton {
  display: block;
  background-color: #75757570;
  border: 1px solid grey;
  border-radius: 5px;
  height: 50px;
  width: 335px;
  margin: bottom 20px;
  margin-left: 65px;
  color: rgb(232, 243, 254);

}


.changepsw {
  margin-left: 150px;
  padding-top: 2rem;
 
  

}
.changepsw a{
  text-decoration: none;
  color: aliceblue;
}

.changepsw a:hover{
  text-decoration:underline;
}



.remainder-checkbox {
  color: rgb(236, 241, 245);
  padding-left:3rem;
  padding-top:2rem;
}

.netflix_signup-paragraph-pag {
  color: white;
}

.netflix {
  padding-top:1rem;
  padding-left:23rem;
  color: rgb(251, 242, 232);
}
/* .powerpoint{
  padding-left: ;
} */

.antique {
  text-decoration: none;
  padding-left:8rem;
  padding-top:3rem;
color: rgb(134, 136, 138);
}
  .antique a{
    text-decoration: none;
    color: rgb(10, 126, 227);
  }
  .antique a:hover{
    text-decoration: underline;
  }


.netflix2{
  text-decoration: none;
  color: aliceblue;
}
.netflix2:hover{
  text-decoration: underline;
}


footer {
  height: 35rem;
  background-color: rgb(23, 3, 3);
  
}
h4{
  padding-left: 15rem;
}
.footer{
  padding-top:10rem;
  color: aliceblue;
}
.footer-links {
  gap:8rem;
  display:flex;
  padding-top:2rem;
  padding-left:15rem;
}
.footer-links a{
  color: rgb(164, 159, 159);
}